ai_booking_agent_workflow.json
{
  "name": "Workflow 2: 24/7 AI Booking Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "booking-agent-webhook"
    },
    {
      "parameters": {},
      "id": "node-datetime",
      "name": "Current Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "node-window-buffer-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [760, 580]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "node-gemini-model",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [560, 580],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=You are a friendly and efficient AI Booking Assistant for our business.\n\nToday's date and time is: {{ $('Current Date & Time').item.json.formattedDate }} {{ $('Current Date & Time').item.json.formattedTime }}\n\nThe user's message is: {{ $('Webhook Trigger').item.json.body.message }}\nThe user's name is: {{ $('Webhook Trigger').item.json.body.name }}\nThe user's email is: {{ $('Webhook Trigger').item.json.body.email }}\n\nOur available booking schedule is:\n- Monday to Friday: 10:00 AM – 5:00 PM (Asia/Dhaka timezone)\n- Each meeting slot is 30 minutes\n- Available slots: 10:00, 10:30, 11:00, 11:30, 12:00, 12:30, 13:00, 13:30, 14:00, 14:30, 15:00, 15:30, 16:00, 16:30\n- No bookings on weekends or public holidays\n\nYour job:\n1. Understand what date and time the user wants to book\n2. Confirm the slot is within available hours\n3. If the requested time is unavailable or unclear, suggest the nearest available slot\n4. Once the user confirms a time, respond ONLY with a valid JSON object in this exact format (no extra text, no markdown):\n{\n  \"confirmed\": true,\n  \"start_time\": \"YYYY-MM-DDTHH:MM:SS+06:00\",\n  \"end_time\": \"YYYY-MM-DDTHH:MM:SS+06:00\",\n  \"meeting_summary\": \"Discovery call with [User Name] on [Date] at [Time]\",\n  \"user_name\": \"[User Name]\",\n  \"user_email\": \"[User Email]\"\n}\n5. If the user has NOT yet confirmed a time, respond conversationally to help them pick a slot. Set confirmed: false in the JSON.\n\nAlways be concise, polite, and professional.",
        "options": {
          "systemMessage": "You are a 24/7 AI Booking Assistant. Always respond helpfully to scheduling requests."
        }
      },
      "id": "node-ai-agent",
      "name": "AI Booking Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [700, 400]
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $('AI Booking Agent').item.json.output;\n\nlet parsed;\ntry {\n  // Try to extract JSON from the agent's response\n  const jsonMatch = agentOutput.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[0]);\n  } else {\n    parsed = { confirmed: false, message: agentOutput };\n  }\n} catch (e) {\n  parsed = { confirmed: false, message: agentOutput };\n}\n\nreturn { json: parsed };"
      },
      "id": "node-parse-json",
      "name": "Parse Agent JSON Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-confirmed",
              "leftValue": "={{ $json.confirmed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-confirmed",
      "name": "Is Booking Confirmed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1180, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $('AI Booking Agent').item.json.output, \"confirmed\": false } }}",
        "options": {}
      },
      "id": "node-respond-chat",
      "name": "Send Chat Reply (Not Confirmed)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 560]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{ $('Parse Agent JSON Output').item.json.start_time }}",
        "end": "={{ $('Parse Agent JSON Output').item.json.end_time }}",
        "additionalFields": {
          "summary": "={{ $('Parse Agent JSON Output').item.json.meeting_summary }}",
          "description": "=Booked via AI Booking Agent.\n\nClient: {{ $('Parse Agent JSON Output').item.json.user_name }}\nEmail: {{ $('Parse Agent JSON Output').item.json.user_email }}",
          "attendees": [
            {
              "email": "={{ $('Parse Agent JSON Output').item.json.user_email }}"
            }
          ],
          "conferenceDataVersion": 1,
          "sendUpdates": "all"
        }
      },
      "id": "node-google-calendar",
      "name": "Create Google Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [1400, 280],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Parse Agent JSON Output').item.json.user_email }}",
        "subject": "=Your Meeting is Confirmed – {{ $('Parse Agent JSON Output').item.json.meeting_summary }}",
        "emailType": "html",
        "message": "=<html>\n<body style=\"font-family: Arial, sans-serif; color: #333;\">\n  <h2>Your Booking is Confirmed! 🎉</h2>\n  <p>Hi {{ $('Parse Agent JSON Output').item.json.user_name }},</p>\n  <p>Your meeting has been successfully scheduled. Here are the details:</p>\n  <table style=\"border-collapse: collapse; width: 100%;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Meeting</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Parse Agent JSON Output').item.json.meeting_summary }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Start Time</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Parse Agent JSON Output').item.json.start_time }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>End Time</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{ $('Parse Agent JSON Output').item.json.end_time }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Meet Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><a href=\"{{ $('Create Google Calendar Event').item.json.hangoutLink }}\">Join Google Meet</a></td>\n    </tr>\n  </table>\n  <p style=\"margin-top: 20px;\">A calendar invite has been sent to your email. We look forward to speaking with you!</p>\n  <p>Best regards,<br>The Team</p>\n</body>\n</html>",
        "options": {}
      },
      "id": "node-send-email",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1620, 180],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"reply\": \"Your meeting has been confirmed! 🎉 A calendar invite and confirmation email have been sent to \" + $('Parse Agent JSON Output').item.json.user_email + \". See you soon!\",\n  \"confirmed\": true,\n  \"event\": {\n    \"start_time\": $('Parse Agent JSON Output').item.json.start_time,\n    \"end_time\": $('Parse Agent JSON Output').item.json.end_time,\n    \"meeting_link\": $('Create Google Calendar Event').item.json.hangoutLink\n  }\n} }}",
        "options": {}
      },
      "id": "node-respond-confirmed",
      "name": "Send Confirmed Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1620, 380]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Current Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current Date & Time": {
      "main": [
        [
          {
            "node": "AI Booking Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Booking Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Booking Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Booking Agent": {
      "main": [
        [
          {
            "node": "Parse Agent JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent JSON Output": {
      "main": [
        [
          {
            "node": "Is Booking Confirmed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Booking Confirmed?": {
      "main": [
        [
          {
            "node": "Create Google Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Chat Reply (Not Confirmed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Calendar Event": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Send Confirmed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "AI Agent",
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-01-01T00:00:00.000Z"
    },
    {
      "name": "Booking",
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-14T00:00:00.000Z",
  "versionId": "v1"
}
